<a href="https://colab.research.google.com/github/sunitmal/DataAcademySunitMal/blob/main/SunitMalWK4HLT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [23]:
#WEEK 4 PANDAS TASK 1#

holiday = pd.read_csv("SMHLTWK4.ipynb.csv")
print(holiday)

data = list(holiday)
row_count = len(data)

   DESTINATIONS  ...  MOST VISITED CITY
0        FRANCE  ...              PARIS
1        TURKEY  ...            ANTALYA
2       GERMANY  ...             BERLIN
3         ITALY  ...               ROME
4         SPAIN  ...             MADRID
5        GREECE  ...             ATHENS
6        AFRICA  ...          CAPE TOWN
7       JAMAICA  ...           KINGSTON
8       AMERICA  ...           NEW YORK
9         CHINA  ...            BEIJING
10       RUSSIA  ...             MOSCOW
11        INDIA  ...              DELHI
12    AUSTRALIA  ...             SYDNEY
13        JAPAN  ...              TOKYO
14     MALAYSIA  ...       KUALA LUMPUR

[15 rows x 5 columns]

In [37]:
#WEEK 4 PANDAS TASK 2#
import pandas as pd

holiday = pd.read_csv("SMHLTWK4.ipynb.csv")
frame = holiday
print(frame)

print(frame.loc[3:8])

   DESTINATIONS  ...  MOST VISITED CITY
0        FRANCE  ...              PARIS
1        TURKEY  ...            ANTALYA
2       GERMANY  ...             BERLIN
3         ITALY  ...               ROME
4         SPAIN  ...             MADRID
5        GREECE  ...             ATHENS
6        AFRICA  ...          CAPE TOWN
7       JAMAICA  ...           KINGSTON
8       AMERICA  ...           NEW YORK
9         CHINA  ...            BEIJING
10       RUSSIA  ...             MOSCOW
11        INDIA  ...              DELHI
12    AUSTRALIA  ...             SYDNEY
13        JAPAN  ...              TOKYO
14     MALAYSIA  ...       KUALA LUMPUR

[15 rows x 5 columns]
  DESTINATIONS  ...  MOST VISITED CITY
3        ITALY  ...               ROME
4        SPAIN  ...             MADRID
5       GREECE  ...             ATHENS
6       AFRICA  ...          CAPE TOWN
7      JAMAICA  ...           KINGSTON
8      AMERICA  ...           NEW YORK

[6 rows x 5 columns]

In [39]:
#WEEK 4 PANDAS TASK 3#

import pandas as pd

data = pd.read_csv("SMHLTWK4.ipynb.csv")

data["NUMBER OF ALL INCLUSIVE HOTELS"].mean()

23.533333333333335

In [63]:
#WEEK 4 PANDAS TASK 4#

import pandas as pd

data = pd.read_csv("SMHLTWK4.ipynb.csv")

lowscore = data["FEEDBACK SCORE"]

lowscore.nsmallest()

1     5
9     5
2     6
10    6
0     7
Name: FEEDBACK SCORE, dtype: int64

In [64]:
#WEEK 4 PANDAS TASK 5#

import pandas as pd

data = pd.read_csv("SMHLTWK4.ipynb.csv")

highscore = data["FEEDBACK SCORE"]

highscore.nlargest()

7     10
8     10
14    10
6      9
12     9
Name: FEEDBACK SCORE, dtype: int64

In [126]:
#WEEK 4 PANDAS TASK 6#

import pandas as pd

data = pd.read_csv("SMHLTWK4.ipynb.csv")

data.sum = data["DESTINATIONS"]

sum = data["NUMBER OF ALL INCLUSIVE HOTELS"]

(sum >9).all()

print(data.sum)

0        FRANCE
1        TURKEY
2       GERMANY
3         ITALY
4         SPAIN
5        GREECE
6        AFRICA
7       JAMAICA
8       AMERICA
9         CHINA
10       RUSSIA
11        INDIA
12    AUSTRALIA
13        JAPAN
14     MALAYSIA
Name: DESTINATIONS, dtype: object

In [109]:
#WEEK 4 PANDAS TASK 7#

import pandas as pd

data = pd.read_csv("SMHLTWK4.ipynb.csv")

data.score = ("NUMBER OF ALL INCLUSIVE HOTELS")

score = data["NUMBER OF ALL INCLUSIVE HOTELS"]

print(score>8)

0     True
1     True
2     True
3     True
4     True
5     True
6     True
7     True
8     True
9     True
10    True
11    True
12    True
13    True
14    True
Name: NUMBER OF ALL INCLUSIVE HOTELS, dtype: bool

In [105]:
#WEEK 4 PANDAS TASK 8#

import pandas as pd

data = pd.read_csv("SMHLTWK4.ipynb.csv")

data.score = ("NUMBER OF ALL INCLUSIVE HOTELS")

score = data["NUMBER OF ALL INCLUSIVE HOTELS"]

print(score<2)

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
Name: NUMBER OF ALL INCLUSIVE HOTELS, dtype: bool